services:
  - type: cron
    name: sunday-tennis-booking
    env: docker
    dockerfilePath: ./Dockerfile
    schedule: "0 9 * * 0"  # Run at 9am every Sunday
    envVars:
      - key: REC_US_EMAIL
        sync: false
      - key: REC_US_PASSWORD
        sync: false
      - key: DAY_OF_WEEK
        value: Sunday
      - key: EARLIEST_TIME
        value: 10:00 AM

  - type: cron
    name: friday-tennis-booking
    env: docker
    dockerfilePath: ./Dockerfile
    # schedule: "0 12 * * 5"  # Run at 12pm every Friday
    # for testing
    schedule: "* * * * *"
    envVars:
      - key: REC_US_EMAIL
        sync: false
      - key: REC_US_PASSWORD
        sync: false
      - key: DAY_OF_WEEK
        value: Sunday
      - key: EARLIEST_TIME
        value: 10:00 AM 